version: '2'
services:
  mysql:
        image: mysql
        container_name: my_sql
        command: --default-authentication-plugin=mysql_native_password
        volumes:
          - $PWD/sql/meli_db_script.sql:/docker-entrypoint-initdb.d/meli_db_script.sql
          - $PWD/data:/var/lib/mysql
        restart: always
        environment:
          - MYSQL_ROOT_PASSWORD=meli_pass
          - MYSQL_DATABASE=melidb
          - MYSQL_HOST=database
        ports:
          - "3306:3306"
        networks: 
            - my-net
  website:
    container_name: tomcat
    build: .
    links:
      - "mysql:database"
    ports:
      - 8091:8080
    depends_on:
      - mysql
    networks: 
        - my-net
networks: 
    my-net: